

/* ==========================================================================
   H5BP Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.non-list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    // &,
    // li {
    // }
}

.page-width {
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 3em 0;
}



%shows-attribute {
    position: relative;

    &::before {
        content: "" attr(class);
        background: darkgrey;
        color: white;
        padding: 0.2em 0.4em;
        display: inline-block;
        position: absolute;
        top: 2px;
        left: 2px;
        font-size: 0.85em;
        font-weight: bold;
        border-radius: 2px;
    }
}
%shows-classes {
    @extend %shows-attribute;

    &::before {
        content: "" attr(class);
        background: $colour-admin;
    }
}

// [data-translation-english] {
//     @extend %shows-attribute;

//     &::before {
//         content: "" attr(data-translation-english);
//         background: $colour-admin;
//         font-size: 0.6em;
//         top: 100%;
//         left: 0;
//         border-top-left-radius: 0;
//         opacity: 0.3;
//     }
//     &:hover::before {
//         opacity: 1;
//     }
// }



.white,
.near-white,
.bright-blue,
.pale-grey,
.turquoise,
.yellow,
.dull-grey {
    // @extend %shows-classes;
}

.white {
    background: white;

    color: $colour-dark-grey;
}
.near-white {
    background: $colour-near-white;
}
.bright-blue {
    background: $colour-bright-blue;
    color: white;

    a,
    h1, h2, h3 {
        color: inherit;
    }
}

.pale-grey {
    background: $colour-pale-grey;
    color: $colour-dark-grey;

    h2 {
        color: $colour-bright-blue;
    }
    a {
        color: inherit;
    }
}

.turquoise {
    background: $colour-turquoise;
    color: white;

    a {
        color: inherit;
    }
}

.yellow {
    background: $colour-mustard;
    color: white;

    a {
        color: inherit;
    }
}

.dull-grey {
    background: $colour-dull-grey;
}

.margin-b-80 {
    margin-bottom: $block-padding * 2;
}

.padding-as-block {
    padding: $block-padding * 2;
}
.padding-v-none {
    padding-top: 0;
    padding-bottom: 0;
}
.padding-as-block-vertical {
    padding-top: $block-padding * 2;
    padding-bottom: $block-padding * 2;
}
.padding-as-block-horizontal {
    padding-left: $block-padding * 2;
    padding-right: $block-padding * 2;
}
.margin-bottom {
    margin-bottom: $block-padding;
}
.margin-bottom-double {
    margin-bottom: $block-padding * 2;
}
.margin-bottom-none {
    margin-bottom: 0 !important;
}



header {
    // background: $colour-beige;
    position: relative;

    * {
        position: relative;
        z-index: 10;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
    }
    // &::before {
    //     background: $colour-beige;
    //     transform: rotate(-6deg);
    //     bottom: 31%;
    //     width: 200vw;
    //     height: 150vw;
    //     left: -20vw;
    // }
    &::after {
        width: 100%;
        height: 500px;
        top: 0;
        background: url('../images/header-bg.png');
        background-size: 2000px;
        background-repeat: no-repeat;
        background-position: center top;
    }
}

header,
main section,
footer {
    & > [role="presentation"] {
        max-width: $site-max-width;
        margin: 0 auto;
        padding: 70px 0;

        &.no-top-padding {
            padding-top: 0;
        }
        &.no-bottom-padding {
            padding-bottom: 0;
        }
    }
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    background: $colour-dull-grey;
    color: white;
    // padding: 0.2em 0.4em;
    font-size: 0.85em;
    // border-radius: 2px;
    font-weight: 300;
    font-family: $font-museo;
    text-transform: uppercase;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: inherit;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        position: relative;

        span {
            padding: 0.3em 0.8em;
        }
        .number {
            float: right;

            & + span {
                background: $colour-dull-grey;
                position: absolute;
                right: 100%;
                overflow: hidden;
                width: 0;
                @include transition(all 0.2s ease);
                // border-radius: 3px;
                padding-left: 0;
                padding-right: 0;
            }
        }
        &:hover .number + span {
            width: 8em;
            padding-left: 0.8em;
            padding-right: 0.8em;
        }
    }
}

header {
    @include group;

    [role="presentation"] {
        padding-bottom: 0;
    }
    
    img {
        float: left;
    }
}

section {
    position: relative;

    [role="presentation"] {
        img + img {
            margin-top: $block-padding;
        }
    }

    h2 {
        strong {
            font-size: 1.8em;
            margin-top: -0.3em;
        }
    }

    &[id]:nth-child(1) {
        position: relative;
    }
    &[id]:nth-child(2n - 1) {
        h2 {
            text-align: left;
            
            strong {
                float: left;
                margin-right: 0.4em;
            }
        }
    }
    &:nth-child(2n) {
        h2 {
            text-align: right;
            
            strong {
                float: right;
                margin-left: 0.4em;
            }
        }
    }

    // The circular down-pointing link at the bottom of each
    $down-a-width: 50px;
    & > a:last-child {
        position: absolute;
        bottom: -($down-a-width / 2);
        left: calc(50% - #{$down-a-width} / 2);
        width: $down-a-width;
        height: $down-a-width;
        line-height: $down-a-width;
        background: inherit;
        color: inherit;
        display: block;
        text-align: center;
        border-radius: $down-a-width;
        z-index: 1;
    }
}

.alternating-image-text,
.thanks {
    // @extend %shows-classes;
}

.pic-text {
    @include group;
    // @extend %shows-classes;
    @include display(flex);
    width: 100%;

    .pic {
        width: 300px;
        flex: 1 0 auto;
        margin-right: 50px;

        img {
            margin-bottom: 50px;
        }
        img + img {
            margin-top: 0 !important;
        }
    }
    .text {
        flex: 1 1 auto;
    }
    img {
        // float: left;
        // clear: right;
    }
    p {
        // float: right;
        // clear: right;
        // max-width: 36em;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.category-choice {
    text-align: center;
    // padding-bottom: $block-padding * 2;

    & > [role="presentation"] {
        max-width: none;
        padding: 0;
    }

    h2 {
        // margin-top: 0;
    }
    input[type="radio"] {
      display: none;
    }
    label[for] {
        @extend [role="button"];
        font-weight: 900;
        padding: 0.3em $block-padding;
        font-size: 1.8em;
        font-family: $font-museo;
        width: $site-max-width / 2 - 1px + $block-padding;
        text-align: left;
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;

      &:nth-of-type(1) {
        background-color: $colour-peach;

        &:hover,
        &:focus {
            background-color: #ef6840;
        }
      }
      &:nth-of-type(2) {
        background-color: $colour-greeny-blue;
        margin-bottom: $block-padding * 2;

        &:hover,
        &:focus {
            background-color: darken($colour-greeny-blue, 8%);
        }
      }
    }
    // Selected
    input[type="radio"]:checked + label[for] {
      &:nth-of-type(1) {
        background-color: $colour-near-white;
        color: $colour-peach;
        background-image: url('../images/Orange_X.png');
      }
      &:nth-of-type(2) {
        background-color: $colour-near-white;
        color: $colour-greeny-blue;
        background-image: url('../images/Aqua_X.png');
      }
    }
    input[type="radio"]:checked ~ label[for] {
      &:nth-of-type(2) {
        margin-bottom: 0;
      }
    }

    .categories {
        overflow: hidden;
        width: 100vw;
        text-align: left;

        // Allow it to slide left-right
        & > div {
            width: 200vw;
            // display: table;
            margin-left: 0;
            @include transition(all 0.6s ease);
        }
        & > div > div {
            width: 100vw;
            // display: table-cell;
            display: block;
            float: left;
            overflow: hidden;
            max-height: 10000px;
            @include transition(max-height 0s ease 0s);
        }

        .page-width {
            margin: 0 auto;
            box-sizing: content-box;
            padding-left: $block-padding;
            padding-right: $block-padding;
        }
    }
    // When neither section is selected, hide categories
    input[type="radio"]:not(:checked) ~ input[type="radio"]:not(:checked) ~ .categories {
        height: 0;
    }
    // When second section is selected, move categories to show second one
    input[type="radio"]:nth-of-type(2):checked ~ .categories > div {
        margin-left: -100vw;
    }
    // When first section is selected, remove the height of the second
    input[type="radio"]:nth-of-type(1):checked ~ .categories > div > div:nth-of-type(2) {
        max-height: 1px;
        @include transition(max-height 0s ease 0.6s);
    }
    // When second section is selected, remove the height of the first
    input[type="radio"]:nth-of-type(2):checked ~ .categories > div > div:nth-of-type(1) {
        max-height: 1px;
        @include transition(max-height 0s ease 0.6s);
    }
}


.alternating-image-text {
    @extend .non-list;

    li {
        height: 230px;
        margin-bottom: 1em;
        @include group;
        overflow: hidden;

        div {
            padding: 30px 100px;
            box-sizing: border-box;
            overflow: auto;
            background: #eaebe6;
        }
        img {
            height: inherit;
            width: auto;
        }

        &:nth-child(2n - 1) {
            img {
                float: right;
                margin-left: 1em;
            }
        }
        &:nth-child(2n) {
            img {
                float: left;
                margin-right: 1em;
            }
        }
    }
}

.team {
    li {
        position: relative;

        span {
            background: RGBA(83, 83, 83, 0.6);
            color: white;
            font-weight: 400;
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            text-align: center;
            padding: 0.4em;
            font-size: 1.1em;
            box-sizing: border-box;
        }
    }
}

.thanks {
    padding-top: 10em;
    padding-bottom: 10em;
    p {
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        max-width: 12em;
        margin: 0 auto;
    }
}

footer {
    overflow: hidden;
    width: 100%;
    position: relative;

    [role="presentation"] {
        padding: 0;
        height: 70px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .dull-grey,
    .yellow {
        width: 100vw;
        position: absolute;
        bottom: 0;
        font-weight: bold;
        box-sizing: border-box;
        padding: 0.4em 1em;
        color: white;
        text-transform: uppercase;
    }
    .dull-grey {
        left: -40vw;
        padding: 1.2em 3em;
        background: #64675E;
        text-align: right;
    }
    .yellow {
        left: 59.5vw;
        padding: 1em 3em;
        background: rgba(255,189,26,0.8);
    }

    .social a {
        margin: 0 11px;
        background-repeat: no-repeat;
        background-position: center center;
        color: transparent;
        font-size: 0;
        float: left;
        height: 37px;
        text-align: center;
        // text-indent: -999em;
        @include transition(all .2s ease-in-out);
        background-size: 100% auto;

        &:hover,
        &:focus {
            background-position: center top;
        }
    }
    a[href*="twitter.com"] {
        background-image: url(../images/social/twitter.png);
        // background-size: 32px auto;
        width: 32px;
    }
    a[href*="facebook.com"] {
        background-image: url(../images/social/facebook.png);
        // background-size: 14px auto;
        width: 14px;
    }
    a[href*="linkedin.com"] {
        background-image: url(../images/social/linked-in.png);
        // background-size: 30px auto;
        width: 30px;
    }
    a[href*="dribbble.com"] {
        background-image: url(../images/social/dribbble.png);
        // background-size: 34px auto;
        width: 34px;
    }
}

.result-image {
    text-align: center;

    .white {
        width: 580px;
        margin: 40px auto;
        padding: 20px;
    }
    p {
        font-weight: 400;
        font-size: 1em;
        margin: 1em 2em;
        line-height: inherit;
    }
}

.graphics {
    position: relative;
    // padding-top: 0;
    // margin-top: $block-padding;
    border-bottom: solid 5px $colour-turquoise;

    div {
        position: relative;
    }
    div img ~ img {
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translateX(-50%));
        animation: opacity_throb 7s infinite;
    }
}
[alt="logos"] {
    margin-top: $block-padding;
    margin-left: 100px;
}

@keyframes opacity_throb {
  // 0%, 100% {
  //   opacity: 1;
  // }
  10%, 90% {
    opacity: 1;
  }
  40%, 60% {
    opacity: 0;
  }
}