/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}



/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}



/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}



body {
  font-family: $font-source-sans;
  position: relative;
  color: #63675F;
  background: $colour-near-white;
  font-weight: 300;
  line-height: 1.4;
}

p, li {
  font-size: $body-font-size;
}
p {
  line-height: $body-line-height;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  clear: both;
}

h1,
h2,
h3 {
  font-family: $font-museo;
  font-weight: 900;
  margin-top: 0;
}
h1 {
  text-align: right;
  font-size: 4em;
  line-height: 1.1;
  margin-bottom: 1em;
  color: #ABADA4;
  text-shadow: 2px 0 1px white;
}
h2 {
  font-size: 2.5em;
  color: $colour-bright-blue;
  text-transform: uppercase;
  margin-bottom: $block-padding;
}
h3 {
  font-size: 2.2em;
  font-weight: 300;
  color: $colour-bright-blue;
  margin-bottom: 0.6em;
}

big {
  font-size: 2.5em;
  font-family: $font-museo;
  display: block;
  color: inherit;
  font-weight: 300;
  text-align: center;
}

label[for] {
  cursor: pointer;
}

[role="button"] {
  color: white;
  width: 400px;
  padding: 0.6em;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  background: $colour-peach;
}